:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-red: #ee3643;
  --basic-hover-red: #ca2c37;
  --basic-green: #63a63e;
  --basic-grey: #32425c;
  --basic-dark-grey: #293449;
  --basic-greylight: #c5c5c5;
  --old-price: #a9a9a9;
  --basic-crem: #f9f5f0;
  --basic-grey-background: #f1f5f7;
  --special-ylellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --success: #5fbb2d;
  --basic-dark-red: #ba2732;
}

.page {
  height: 100%;
}

.conteiner {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  min-width: 960px;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);

  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/*   font-family: 'PT Sans', sans-serif; шрифт карточек */

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
}

.text {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.main-heder {
  background-color: var(--basic-grey-background);
}

.wrapper-navigation {
  background-color: var(--basic-dark-grey);
  color: var(--basic-white);
}

.heder-wrapper-user-navigation {
  display: grid;
  grid-template-columns: 220px 1fr 1fr;
  align-content: start;
  justify-self: start;
}

.logo-heder {
  display: block;
  background-color: var(--basic-red);
  width: 220px;
  height: 47px;
  margin: 0;
  box-shadow: 0px 5px 0px 0px #ba2731;

  text-align: center;
}
/*
.logo-footer {
  display: block;
  background-color: var(--basic-red);
  width: 220px;
  height: 67px;
  margin: 0;
  box-shadow: 0px 0px 0px 0px #ba2731;

  text-align: center;
}
*/

.search input[type="text"] {
  background-color: inherit;
  font-size: 18px;
  line-height: 24px;
  border: none;
}

.user-navigation {
  display: flex;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.user-navigation a {
  color: var(--basic-white);
}

.user-navigation li:last-child {
  background-color: var(--basic-green);
}

.user-navigation li:last-child:hover {
  background-color: var(--success);
}

.user-navigation a:active {
  opacity: 0.5;
}

.main-heder-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 60px;

  margin-top: 40px;
}

.text-privaw {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.contact-number {
  border: 3px solid var(--basic-white);
}

.contact-number a {
  color: var(--basic-red);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.adres-heder {
  color: var(--basic-grey);
}

.login-form-botton {
  font-family: inherit;
  vertical-align: middle;
  text-align: center;
  background-color: var(--basic-white);
  border: none;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.login-form-botton:hover {
  color: var(--basic-red);
}

.login-form-botton:active {
  color: var(--basic-greylight);
}

.main-navigation {
  max-height: 60px;
  background-color: var(--basic-grey);
  grid-column: 1/-1;
  grid-row: 2/3;
}

.list-navigation {
  display: flex;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  border-bottom: 5px solid var(--basic-dark-grey);
}

.list-navigation a {
  color: var(--basic-white);
}

.list-navigation a:hover {
  background-color: var(--basic-dark-grey);
}

.list-navigation a:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.personal-area-login {
  font-size: 21px;
  line-height: 21px;
  cursor: pointer;
}

.personal-area-login:active,
.personal-area-login:focus {
  color: var(--basic-grey);
}

.personal-area-links:hover,
.personal-area-links:focus {
  color: var(--basic-red);
}

.personal-area-links:active {
  color: var(--basic-greylight);
}

.personal-area-list {
  font-size: 16px;
  line-height: 18px;
}

.personal-area-list a {
  color: var(--basic-grey);
}

.categories-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;

  list-style: none;
}

.slider {
  grid-column: 1/3;
  grid-row: 2/4;
}

.category-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.category-item:nth-child(4n + 1) {
  background-color: var(--special-ylellow);
}

.category-item:nth-child(2) {
  background-color: var(--special-blue);
}

.category-item:nth-child(3) {
  background-color: var(--special-lilac);
}

.category-item:nth-child(4) {
  background-color: var(--special-greenlight);
}

.category-item a {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--basic-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.category-item a:hover,
.category-item a:focus {
  background-color: rgba(197, 197, 197, 0.3);
  color: var(--basic-white);
}

.category-item a:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.new_item {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
}

.button-gallery {
  border: none;
  background-color: transparent;
}

.button {
  color: var(--basic-white);
  font: inherit;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--basic-hover-red);
}

.button:active {
  background-color: var(--basic-dark-red);
}

.popular-box {
  background-color: var(--basic-crem);
}

.popular-box h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-grey);
  text-transform: uppercase;
}

.popular-goods-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}

.catalog-item {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.catalog-item a {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.price {
  font-size: 17px;
  text-transform: uppercase;
}

.old_price {
  text-decoration: line-through;
  color: var(--old-price);
}

.new-price {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.manufacturers-list {
  list-style: none;

  padding: 0;
  gap: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.manufacturers-item {
  border: 1px solid #eaeaea;
  width: 220px;
  height: 145px;
}

.manufacturers-item img {
  display: block;
  margin: auto;
}

.services {
  background-color: var(--basic-grey-background);
}

.services-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.services h2,
h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-black);
}

.services-list {
  padding: 0;
  margin: 0;

  grid-column: 2/4;

  list-style: none;
}

.services-item h3,
p {
  margin: 0;
}

.controls-services {
  padding: 0;
  margin: 0;

  grid-column: 1/2;

  list-style: none;
}

.title-services {
  margin: 0;

  grid-column: 1/4;
}

.previ-services {
  margin: 0;

  grid-column: 1/4;
}

.button-services {
  background-color: var(--basic-grey);
  color: var(--basic-white);
  cursor: pointer;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.button-services:hover,
.button-services:focus {
  background-color: var(--basic-dark-grey);
}

.active {
  background-color: var(--basic-white);
  color: var(--basic-grey);
}

.active:hover {
  background-color: var(--basic-white);
  color: var(--basic-grey);
}

.delivery_company {
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.wrapper-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-company {
  grid-column: 1/3;
}

.contacts {
  grid-column: 3/4;
}

.main-footer {
  background-color: var(--basic-grey);
}

.footer-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.logo_footer {
  grid-row: 1/2;
  grid-column: 1/2;
}

.footer-list-navigation {
  display: flex;

  grid-row: 1/2;
  grid-column: 2/4;
}

.footer-social {
  background-color: var(--basic-dark-grey);
}

.wrapper-footer-social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-adres {
  font-size: 18px;
  line-height: inherit;
  font-weight: inherit;
  color: #f3f7f9;

  margin-top: 20px;
}

.footer-adres a {
  text-decoration: none;
  color: #f3f7f9;
}

.footer-list-navigation {
  list-style: none;
}

.footer-catalog-navogation {
  display: flex;

  list-style: none;

  grid-column: 2/-1;
  grid-row: 2/-1;
}

.footer-list-navigation a {
  color: #f3f7f9;
  font-size: 18px;
  line-height: inherit;
  font-weight: inherit;
}

.footer-catalog-navogation a {
  color: var(--special-yellowlight);
  font-size: 18px;
  line-height: inherit;
  font-weight: inherit;
}

.footer-catalog-navogation a,
.footer-list-navigation a {
  text-decoration: none;
}

.footer-catalog-navogation a:hover,
.footer-catalog-navogation a:focus,
.footer-list-navigation a:hover,
.footer-list-navigation a:focus {
  text-decoration: underline;
}

.footer-catalog-navogation a:active,
.footer-list-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-social p {
  color: var(--basic-white);

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.copyright {
  grid-column: 1/2;
}

.social {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
  grid-column: 2/3;
}

.site-developer {
  display: flex;
}

.social a {
  color: var(--basic-white);
}

.footer-links {
  color: var(--special-yellowlight);
}

.footer-links:hover,
.footor-links:focus {
  text-decoration: underline;
}

.footer-links:active {
  color: var(--basic-red);
}

.modal_feedback {
  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-white);
}

.feedback-box {
  background-color: #f4f4f4;
}

.form-feedback label {
  font-size: 18px;
  line-height: inherit;
  font-weight: inherit;
}

.form-feedback input {
  border-radius: 2px;
  border: 2px solid #c5c5c5;
}

.modal-map {
  border-top: 7px solid red;
}

/* Catalog */

.crumbs {
  list-style: none;
  display: flex;
}

.crumbs li {
  margin-right: 40px;
}

.crumbs a {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.title-catalog {
  background-color: var(--basic-grey-background);
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.grid-conteiner {
  display: grid;
  align-content: start;
  grid-template-columns: 240px 1fr;
}

.filters {
  max-height: 40px;
  font-family: "PT Sans", sans-serif;
}

.filters h2 {
  display: none;
}

.sorting-list {
  list-style: none;
  background-color: #f7f3ec;
  margin: 0;
  padding: 0;

  display: flex;

  grid-column: 2/-1;
}

.catalog {
  grid-column: 2/-1;
  margin-left: 20px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  list-style: none;

  margin: 0;
  padding: 0;
}

.chapter-catalog {
  background-color: var(--basic-grey-background);

  padding-bottom: 70px;
  margin-top: 60px;
}

.filter-title {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.sorting-list li:first-child {
  border: none;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.sorting-item p {
  border-bottom: 1px dashed var(--basic-red);
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.sorting-item p:hover,
.sorting-item p:focus {
  border-bottom: 1px solid var(--basic-red);
  color: rgba(0, 0, 0, 1);
}

.sorting-active p {
  color: var(--basic-red);
  opacity: 1;
  border: none;
}

.filter legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-range input {
  border: none;
  background-color: #f7f3ec;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.filter-option {
  list-style: none;
}

.filter-checkbox,
.filter-radio {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.buttton-filters {
  border: 1px solid #e5e5e5;
  background-color: transparent;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.button-cotalog-item {
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  border-radius: 2px;
}

.button-buy {
  background-color: var(--basic-green);
  border: none;
  color: var(--basic-white);
  box-shadow: inset 0px -3px 0px #367315;
}

.button-buy:hover,
.button-buy:focus {
  background-color: var(--success);
}

.button-buy:active {
  background-color: #518534;
}

.button-bookmark {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  color: var(--basic-grey);
}

.button-bookmark:hover,
.button-bookmark:focus {
  border: 3px solid var(--basic-grey);
}

.button-bookmark:active {
  border: 3px solid;
  opacity: 50%;
}

.pagination-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.pagination-list li {
  margin-right: 10px;
  margin-top: 50px;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  text-transform: uppercase;

  padding: 10px;
}

.pagination-item-current a {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.pagination-item a:active {
  border: 1px solid var(--basic-red);
}
